
a{
    text-decoration: none;
    color: aliceblue;
}
.container{
margin: 0 auto;
    width: 1168px;
        position: relative;
       
        
        background-color: rgba(22, 32, 47, 0.5);
        
            color: aliceblue;
}
.box{
    display: flex;

}

.side-bar{
    /* background-color: rgba(0, 123, 255,0.3); */
    width: 420px;
    margin-left: 20px;
}
.side-bar-contacts{
    display: flex;
    flex-direction: column;
    
}

.side-bar-contacts a:not(:last-child){
    margin-bottom: 10px;
}


.side-bar-content{
    margin-left: 80px;

}
.content{
width: 520px;
    background-color: rgba(242, 246, 251, 0.538);
  
    border-radius: 10px;
    margin: 20px 60px;
    padding: 25px;
    color: black;
}
.content a{
    color: black;
}

.lang{
 padding: 10px 10px 0 0;
  text-align: end;
    margin-left: auto;
    position: absolute;
    right: 0;
}
.photo{
    border-radius: 30px;
    padding: 10px;
    
}